<h2 class="text-primary">Изменение пароля администратора</h2>

@using (Ajax.BeginForm("ChangeAdminPassword", "Admin", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "AdminContainer" }, new { @class = "form-horizontal createform", name="ChangePasswordForm" }))
{

    <div class="form-group">
        <label for="oldPassword">Старый пароль</label>
        <input type="password" id="oldPassword" name="oldPassword" class="form-control" data-val="true" data-val-required="Поле не заполнено" />
        <div data-valmsg-replace="true" data-valmsg-for="oldPassword" />  
    </div>

    <div class="form-group">
        <label for="newPassword">Новый пароль</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" data-val="true" data-val-required="Поле не заполнено" />
        <div data-valmsg-replace="true" data-valmsg-for="newPassword" />  
    </div>

    <div class="form-group text-center">
        <a class="btn btn-default" href='@Url.Action("Settings")'>Отмена</a>
        <input type="submit" class="btn btn-default" value="Изменить" />
    </div>

  

}

<script type="text/javascript">
    $.validator.unobtrusive.parse($("form[name='ChangePasswordForm']"));
</script>


