<h4 class="text-primary">Редактор данных базы</h4>

<div>
    
    <div class="dropdown" style="float:left; margin-right: 5px">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            Другое&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="#">Просмотр/Редактирование</a></li>

        </ul>
    </div>
</div>

<div id="editDbContainer">
    
</div>

